
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    
        <div class="flex-flow row">

        <div class="col-lg-4 navbar-left pr-5">
        <a class="navbar-brand" href="#">
        <img [src]= "imgSrc" alt="logo" width="150" height="">
        </a>
        </div>
      
      <div class="col-lg-8 navbar-right pl-8" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Key Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ">Testimonial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">FAQ</a>
          </li>

          <button class="btn-border">Try for Free</button>
        </ul>
      </div>

    </div>
    
  </nav>