footer{
    background-color: #09142e;
    padding: 80px;
}
ul>li{
    padding: 10px;
    display: inline-block;
    font-weight: 400;
}

.downloadImg {
    background: url('src/assets/images/download.png');
    padding:0px;
    background-position: center;
    background-size: cover;
}
