  
   <hr style="border: 0.1px solid #d3d1d1">
<div class="container">
    <div class=" row mt-5">
      <div class="col-lg-6 p-5">
        <h1 style="font-weight:700; color:#242f51">Download Our App Now!</h1>
        <p style="color:#616368; padding:20px 0px;">The rise of mobile device transforms the way we consume information entirely and the world's most elevant channels such as Facebook</p>
        
        <div class="row">
            <div class="col-lg-8 d-flex justify-content-between pb-5">
            <img class="" [src]="googleplay" alt="" width="150">
            <img [src]="appstore" alt="" width="150">
            </div>
        </div>

      </div>
      
        <div class="col-lg-6 downloadImg">
            <!-- <img class="col-lg-6 download" [src]="downloadImg" width="100%"> -->
        </div>
    </div>
    
    </div>
<footer class="text-center">
    <img [src]="footerBrand" width="100">
  <ul class="" style="list-style: none; font-weight: 200; font-size: 18px; color:rgb(251, 251, 251);">
    <li><a>Home</a></li><li><a>Key Features</a></li><li><a>Pricing</a></li><li><a>Testimonial</a></li><li><a>FAQ</a></li></ul>  
  <img [src]="socialLink" width="110">
  <p style="color:#5f636e; font-size: 18px;">Copyright@ Arifur Rahman Tushar 2019 All rights reserved</p>
</footer>
