<div class="container" [ngStyle]="{'height':'100vh'}">
    <app-header></app-header>
    <div class="flex-flow">
    <div class="box title">
        <span>
            <h1><b>Best app for your <br> modern lifestyle</b></h1>
        <p>Increase productivity with a simple to-do app for <br> managing your personal budgets</p>
        <button class="btn-border">Try for free</button> <a [ngStyle]="{'color':'#2500f9'}">Watch demo video</a>

        </span>
        
    </div>
    <div class="img box">
        <span [ngStyle] = "{'box-shadow':'10 10 2 3 #000000'}">
            <img class ="image" [src] = "imgsrc" width="280">
        </span>
    </div>
</div>

</div>