<div class="container">
    <div class="row p-5">
        <div class="col-lg-6 text-start">
            <div class="">
                <h2 class="heading">Ultimate features that we built</h2>
<p>The rise of mobile devices tranforms the way we consume information entirely</p>
            </div>
            
<div class="pt-">
<div class="flex-flow">
    <div class="col-img-left col-lg-4" *ngFor="let img of img">
        <div class="mr-0">
                <div class=""><img class="img-circle" [src]="img.img" alt=""></div>
                <div>
                    <p [style.color]="img.color"><b>{{img.title}}</b></p>
                  <p class="text-wrap">Get your blood delivered at home collect sample from the news your blood tests</p>
                </div>            
        </div> 
    
    </div>

</div>
<button class="btn-border">See All</button>
        </div>
</div> 


<div class="col-lg-6">
    <img [src]="imgFeature" alt="">
</div>
    </div>

<!-- Get features -->
    


    <div class="text-center margin-auto  float-center p-5" style="" >
        <h2 class="heading">Get awesome features without extra charges</h2>
    <p>The rise of mobile devices tranforms the way we consume information entirely</p>

    <div class="form-check form-switch">
        <button class="btn-border">Monthly</button>
        <button class="btn-border-white">Annualy</button>
        
      </div>
            <div class="col-lg-6 card-group text-center p-5 m-auto" >

                <div class="card" style="border: none; box-shadow: #e6e7e9 1px 0px 13px 5px ;">
                    <img src="assets/images/$0.png" class="card-img-top" alt="..." width="180px">
                    <div class="card-body">
                      <ul style="list-style: none;  color:#999ca5;" class="card-text">
                        <li>Drag & Drop Builder</li>
                        <li>1000 templates </li>
                        <li>Blog Support Tools </li>
                        <li>eCommerce store </li>
                        <button class="btn-border">Start Free Trail</button>
                      </ul>
                    </div>
                  </div>
                <div class="card" style=" margin:-30px 0px -30px 20px; border: 0.8px solid #999ca5; border-radius:10px">
                    <img src="assets/images/$99.png" class="card-img-top" alt="..." width="200px" style="margin-bottom:-20px">
                    <div class="card-body">
                      <ul style="list-style: none;  color:#999ca5;" class="card-text">
                        <li>Drag & Drop Builder</li>
                        <li>1000 templates </li>
                        <li>Blog Support Tools </li>
                        <li>eCommerce store </li>
                        <button class="btn-border">Start Free Trail</button> <br>
                       <span style="color: #2500f9">or Start 14 days Trail</span> 
                      </ul>
                    </div>
                  </div>
            </div>
        
    </div>
</div>